---
import { results } from '../constants/results';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
  <main class="flex flex-col gap-6 pb-6">
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-sm">
      {
        results.map((result) => (
          <li class="flex flex-col">
            <section class="bg-dark-light h-full flex flex-col gap-2 p-4 rounded-lg">
              <div class="flex flex-col">
                <h2 class="font-semibold text-base">{result.name}</h2>
                <p class="text-gray text-xs">{result.date}</p>
              </div>
              {result.mvp ? (
                <div class="flex flex-col items-center gap-0">
                  <div class="rounded-full bg-white/20 flex items-center justify-center mt-4 mb-2 backdrop-blur-sm border-2 border-white w-12 h-12 sm:w-16 sm:h-16">
                    <img src={`/${result.mvp.image}`} alt="MVP de la fecha" width="64" height="64" class="rounded-full" />
                  </div>
                  <h3 class="font-semibold">{result.mvp.name}</h3>
                </div>
              ) : <></>}
              <ul class="grid grid-cols-1">
                {
                  result.matches.map((match) => (
                    <li class="flex justify-between gap-2 p-2 border-b border-white/10 md:border-b-0">
                      <div class="flex flex-1 justify-between items-center">
                        <div>
                          <h3 class="text-left">{match.home}</h3>
                          <p class="text-gray text-xs text-left">{match.homeScorers ? match.homeScorers.join(", ") : ''}</p>
                        </div>
                        <p class="text-xl font-bold">{(!match.homeScorers && !match.awayScorers) ? '' : match.homeScorers ? match.homeScorers.length : 'W.O'}</p>
                      </div>
                      <div class="flex flex-1 justify-center items-center">
                        <p class="text-xl">vs</p>
                      </div>
                      <div class="flex flex-1 justify-between items-center">
                        <p class="text-xl font-bold">{(!match.homeScorers && !match.awayScorers) ? '' : match.awayScorers ? match.awayScorers.length : 'W.O'}</p>
                        <div>
                          <h3 class="text-right">{match.away}</h3>
                          <p class="text-gray text-xs text-right">{match.awayScorers ? match.awayScorers.join(", ") : ''}</p>
                        </div>
                      </div>
                    </li>
                  ))
                }
              </ul>
            </section>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
